<h1>A BIN IS FIGHTING A SKIP!</h1>
<h2> <%= @game.whos_attacked.full_name %> ATTACKS</h2>
<h2> <%= @game.whos_turn.full_name %> IS PUNISHED</h2>
<p> <%= @game.player_1.full_name %> HP: <%= @game.player_1.hp %>
<%= @game.player_2.full_name %> HP: <%= @game.player_2.hp %> </p>
<h2> <%= @game.whos_turn.full_name %>'s turn!</h2>
<form action='/apply_attack_and_check_route' method='get'>
  <button type='submit'>ATTACK</button>
</form>
